__pycache__/
*.pyc
*.pyo
*.pyd

training_data/
lora_adapters/

# Distribution / packaging
.Python
build/
*.db

# client 
ios/
android/

node_modules/
dist/   
.expo/
.svelte-kit/
.vscode/

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/   


.env
.env.local

.DS_Store
*.log

*.apk
*.ipa

*.db-shm 
*.db-wal